@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --palaj-l: rgb(210, 130, 190); /* Ligne L */
  --palaj-a: rgb(255, 20, 0);    /* Ligne A */
  --palaj-j: rgb(210, 210, 0); /* Ligne J */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
